In [1]:
import pandas as pd

tabela = pd.read_excel("IdiomasAMT.xlsx") # Import a xlsx file

display(tabela) # show this xlsx file

,CODIGOITEMMENU,CODIGOIDIOMA,NOMEITEMMENU,ADICIONA/ALTERA,FAZER,Unnamed: 5
0,1,en,Storage,alterar,NaN,NaN
1,1,es,Almacenamiento,alterar,NaN,NaN
2,2,es,Operación,alterar,NaN,NaN
3,3,es,Registro Básico,alterar,NaN,NaN
4,4,es,Tipos de divergencias,alterar,NaN,NaN
...,...,...,...,...,...,...
342,1006,en,Consult Electronic Invoice,alterar,NaN,NaN
343,1007,es,Compañías,alterar,NaN,NaN
344,1008,es,Usuarios,alterar,NaN,NaN
345,1011,es,Ajustes,alterar,NaN,NaN
346,1013,es,Calendario de Operaciones,alterar,NaN,NaN

In [2]:
for linha, CodigoMenu in enumerate(tabela["CODIGOITEMMENU"]): 
    Idioma = tabela.loc[linha, "CODIGOIDIOMA"]
    Nome = tabela.loc[linha, "NOMEITEMMENU"]
    Adicionar_Alterar = tabela.loc[linha, "ADICIONA/ALTERA"]
    Testagem = tabela.loc[linha, "FAZER"]
    Codigo_Completo = []
 
    if (Adicionar_Alterar == "alterar"):
        Codigo_Completo = "UPDATE IDIOMASMENU SET NOMEITEMMENU = " + "'" + Nome + "'" + " WHERE CODIGOITEMMENU = " + str(CodigoMenu) + " AND CODIGOIDIOMA = " + "'" + Idioma + "' ;"
        print(Codigo_Completo)
        print("")
    if (Adicionar_Alterar == "adicionar"):
        Codigo_Completo = "INSERT INTO IDIOMASMENU (CODIGOITEMMENU, CODIGOIDIOMA, NOMEITEMMENU) VALUES( " + str(CodigoMenu) + ", '" + Idioma + "' ," + "'" + Nome +"' ) ;"
        print(Codigo_Completo)
        print("")

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Storage' WHERE CODIGOITEMMENU = 1 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Almacenamiento' WHERE CODIGOITEMMENU = 1 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Operación' WHERE CODIGOITEMMENU = 2 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Registro Básico' WHERE CODIGOITEMMENU = 3 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de divergencias' WHERE CODIGOITEMMENU = 4 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipo de Acciones Para Ajustar Divergencias' WHERE CODIGOITEMMENU = 5 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de modos de transporte' WHERE CODIGOITEMMENU = 6 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de señales del IRS' WHERE CODIGOITEMMENU = 8 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de procesos' WHERE CODIGOITEMMENU = 9 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de especies' WHERE CODIGOITEMMENU = 12 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de Productos' WHERE CODIGOITEMMENU = 13 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Productos' WHERE CODIGOITEMMENU = 14 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de Acciones Para Los Planes de Almacenamiento' WHERE CODIGOITEMMENU = 16 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de eventos com productos almacenados' WHERE CODIGOITEMMENU = 17 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Cualificaciones de la ubicación de almacenamiento' WHERE CODIGOITEMMENU = 19 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Ubicaciones de Almacenamiento' WHERE CODIGOITEMMENU = 20 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Documentos Fiscales' WHERE CODIGOITEMMENU = 22 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Importación de Documentos Fiscales' WHERE CODIGOITEMMENU = 23 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Requisitos Estándar Para Procesos' WHERE CODIGOITEMMENU = 24 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Procesos' WHERE CODIGOITEMMENU = 25 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Process' WHERE CODIGOITEMMENU = 25 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Planes de Almacenamiento' WHERE CODIGOITEMMENU = 26 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Recepción de productos' WHERE CODIGOITEMMENU = 27 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Registros de movimiento' WHERE CODIGOITEMMENU = 28 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Autorizaciones de lanzamiento de productos' WHERE CODIGOITEMMENU = 29 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Salida Del Producto' WHERE CODIGOITEMMENU = 30 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Envío de Productos' WHERE CODIGOITEMMENU = 31 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Horario de embarque' WHERE CODIGOITEMMENU = 32 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Consultar posición de productos para envío' WHERE CODIGOITEMMENU = 33 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Visualización gráfica de ubicaciones de almacenamiento' WHERE CODIGOITEMMENU = 35 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Registros Básicos' WHERE CODIGOITEMMENU = 37 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Compañías' WHERE CODIGOITEMMENU = 38 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Países' WHERE CODIGOITEMMENU = 43 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Puertos' WHERE CODIGOITEMMENU = 45 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Puertos' WHERE CODIGOITEMMENU = 46 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Terminales' WHERE CODIGOITEMMENU = 47 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Cargadero' WHERE CODIGOITEMMENU = 48 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Dársena' WHERE CODIGOITEMMENU = 49 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Equipamientos' WHERE CODIGOITEMMENU = 50 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Equipamientos' WHERE CODIGOITEMMENU = 51 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de Equipos' WHERE CODIGOITEMMENU = 52 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de Tiempo de Inactividad del Equipo' WHERE CODIGOITEMMENU = 53 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Equipment stop type' WHERE CODIGOITEMMENU = 53 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Registro del Historial de Mantenimiento' WHERE CODIGOITEMMENU = 54 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Maintenance History Registration' WHERE CODIGOITEMMENU = 54 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Responsable de Mantenimiento' WHERE CODIGOITEMMENU = 55 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Mano de Obra' WHERE CODIGOITEMMENU = 56 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Buques' WHERE CODIGOITEMMENU = 57 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Buques' WHERE CODIGOITEMMENU = 58 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Shipowners' WHERE CODIGOITEMMENU = 59 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Bandera' WHERE CODIGOITEMMENU = 60 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Datos de importacion' WHERE CODIGOITEMMENU = 61 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de Barcos' WHERE CODIGOITEMMENU = 62 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Agencia Marítima' WHERE CODIGOITEMMENU = 63 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Agencia Marítima' WHERE CODIGOITEMMENU = 64 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Recurso de Movilización' WHERE CODIGOITEMMENU = 72 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipo de Movilización de Recursos' WHERE CODIGOITEMMENU = 73 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Actividades de Movilización de Recursos' WHERE CODIGOITEMMENU = 74 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de Apagones' WHERE CODIGOITEMMENU = 75 AND CODIGOIDIOMA = 'es' ;

INSERT INTO IDIOMASMENU (CODIGOITEMMENU, CODIGOIDIOMA, NOMEITEMMENU) VALUES( 76, 'es' ,'Categoría de Trabajador Separada' ) ;

INSERT INTO IDIOMASMENU (CODIGOITEMMENU, CODIGOIDIOMA, NOMEITEMMENU) VALUES( 76, 'pt' ,'Categoria de Trabalhador Separada' ) ;

INSERT INTO IDIOMASMENU (CODIGOITEMMENU, CODIGOIDIOMA, NOMEITEMMENU) VALUES( 77, 'es' ,'Funciones de Trabajador Independiente' ) ;

INSERT INTO IDIOMASMENU (CODIGOITEMMENU, CODIGOIDIOMA, NOMEITEMMENU) VALUES( 77, 'pt' ,'Função de Trabalhador Separada' ) ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Funciones Generales de Los Trabajadores' WHERE CODIGOITEMMENU = 78 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Orden de Servicio' WHERE CODIGOITEMMENU = 80 AND CODIGOIDIOMA = 'es' ;

INSERT INTO IDIOMASMENU (CODIGOITEMMENU, CODIGOIDIOMA, NOMEITEMMENU) VALUES( 81, 'es' ,'Entrada de Trabajo Independiente' ) ;

INSERT INTO IDIOMASMENU (CODIGOITEMMENU, CODIGOIDIOMA, NOMEITEMMENU) VALUES( 81, 'pt' ,'Entrada de trabalho separada' ) ;

INSERT INTO IDIOMASMENU (CODIGOITEMMENU, CODIGOIDIOMA, NOMEITEMMENU) VALUES( 82, 'en' ,'Appropriation of Resources' ) ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Embarque / Aterrizaje' WHERE CODIGOITEMMENU = 84 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Financiero' WHERE CODIGOITEMMENU = 107 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'La Seguridad' WHERE CODIGOITEMMENU = 108 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Administracion del Sistema' WHERE CODIGOITEMMENU = 110 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Usuarios' WHERE CODIGOITEMMENU = 111 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Flujo de Aprobación' WHERE CODIGOITEMMENU = 112 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Perfiles de Acceso al Sistema' WHERE CODIGOITEMMENU = 113 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Presupuesto de Oportunidad' WHERE CODIGOITEMMENU = 128 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Nominaciones' WHERE CODIGOITEMMENU = 129 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Asistencia' WHERE CODIGOITEMMENU = 130 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Planificación anual de operaciones' WHERE CODIGOITEMMENU = 131 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Gastos Generales Del Buque' WHERE CODIGOITEMMENU = 132 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Suministros a Los Barcos' WHERE CODIGOITEMMENU = 133 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Informe Para La Contabilización de Notas de Débito' WHERE CODIGOITEMMENU = 134 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Aprobaciones' WHERE CODIGOITEMMENU = 135 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Cola de Aprobación' WHERE CODIGOITEMMENU = 136 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de Gastos de Oportunidad' WHERE CODIGOITEMMENU = 137 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipo de Gastos de Envío' WHERE CODIGOITEMMENU = 138 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Listas de verificación' WHERE CODIGOITEMMENU = 140 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de Horario' WHERE CODIGOITEMMENU = 141 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tipos de Suministro a Los Buques' WHERE CODIGOITEMMENU = 142 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Fletadores' WHERE CODIGOITEMMENU = 144 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Supervisores de Estiba' WHERE CODIGOITEMMENU = 145 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Empresas de Empeño' WHERE CODIGOITEMMENU = 147 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tabla de Precios' WHERE CODIGOITEMMENU = 148 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Parámetro de presupuesto de oportunidad' WHERE CODIGOITEMMENU = 149 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tablas de Costos de Almacenamiento' WHERE CODIGOITEMMENU = 150 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tiempos estándar de llegada de productos' WHERE CODIGOITEMMENU = 157 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Antiguo horario de funcionamiento' WHERE CODIGOITEMMENU = 158 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Cargadores' WHERE CODIGOITEMMENU = 159 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Shippers' WHERE CODIGOITEMMENU = 159 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Patio de Secuenciación' WHERE CODIGOITEMMENU = 160 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Registro Básico' WHERE CODIGOITEMMENU = 161 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Terminal de Patio de Secuenciación' WHERE CODIGOITEMMENU = 162 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'tiempo de espera de retraso' WHERE CODIGOITEMMENU = 163 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Registro de Composiciones' WHERE CODIGOITEMMENU = 164 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Líneas Ferroviarias' WHERE CODIGOITEMMENU = 165 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Solicitantes de Maniobras' WHERE CODIGOITEMMENU = 166 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Disponibilidad de trenes em VALE' WHERE CODIGOITEMMENU = 167 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Recepción em el Patio de Secuenciación' WHERE CODIGOITEMMENU = 168 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Información de recepción em el patio de secuenciación' WHERE CODIGOITEMMENU = 169 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Solicitud de Maniobra' WHERE CODIGOITEMMENU = 170 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Recibo em el puerto' WHERE CODIGOITEMMENU = 171 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Regresa al Patio de Secuenciación' WHERE CODIGOITEMMENU = 172 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Volver a VALE' WHERE CODIGOITEMMENU = 173 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Retirado por VALE' WHERE CODIGOITEMMENU = 174 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Diferencias Encontradas' WHERE CODIGOITEMMENU = 176 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Turno de Inicio' WHERE CODIGOITEMMENU = 181 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Shart Shift' WHERE CODIGOITEMMENU = 181 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Paros' WHERE CODIGOITEMMENU = 182 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Comentarios de turno' WHERE CODIGOITEMMENU = 183 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Shift Comments' WHERE CODIGOITEMMENU = 183 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Envíos' WHERE CODIGOITEMMENU = 185 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Cerrar Turno' WHERE CODIGOITEMMENU = 186 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Vacaciones' WHERE CODIGOITEMMENU = 187 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Holidays' WHERE CODIGOITEMMENU = 187 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Empleados' WHERE CODIGOITEMMENU = 188 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Employees' WHERE CODIGOITEMMENU = 188 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Grupo de Empleados' WHERE CODIGOITEMMENU = 189 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Group of Employees' WHERE CODIGOITEMMENU = 189 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Sustituciones' WHERE CODIGOITEMMENU = 190 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Generación de Escala' WHERE CODIGOITEMMENU = 191 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Scale Generation' WHERE CODIGOITEMMENU = 191 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Estructura de Amarre' WHERE CODIGOITEMMENU = 194 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Falta de Envíos' WHERE CODIGOITEMMENU = 196 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Razones Para Esperar El Atraque' WHERE CODIGOITEMMENU = 201 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Destinatario de RICE' WHERE CODIGOITEMMENU = 203 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Grupo de Cargadores' WHERE CODIGOITEMMENU = 204 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Group of Shippers' WHERE CODIGOITEMMENU = 204 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Planificación Mensual' WHERE CODIGOITEMMENU = 208 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Composición Pendiente de Documentación' WHERE CODIGOITEMMENU = 217 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Informes' WHERE CODIGOITEMMENU = 221 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Diferencias y Acciones Necesarias' WHERE CODIGOITEMMENU = 222 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Entrada y Salida de Productos' WHERE CODIGOITEMMENU = 223 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Procesos Pendientes' WHERE CODIGOITEMMENU = 224 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Productos Almacenados' WHERE CODIGOITEMMENU = 225 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Tiempo de Almacenamiento' WHERE CODIGOITEMMENU = 226 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Costos de Almacenamiento' WHERE CODIGOITEMMENU = 227 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Control de Almacenamiento de Productos' WHERE CODIGOITEMMENU = 228 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Informes' WHERE CODIGOITEMMENU = 229 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Historial de Embarque' WHERE CODIGOITEMMENU = 230 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Uso de Dársena' WHERE CODIGOITEMMENU = 231 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Carga Esperada X Realizada' WHERE CODIGOITEMMENU = 232 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Uso de Equipo' WHERE CODIGOITEMMENU = 233 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Envíos Consolidados' WHERE CODIGOITEMMENU = 234 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Uso general de Las Dársena' WHERE CODIGOITEMMENU = 235 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Envío por Producto' WHERE CODIGOITEMMENU = 236 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Shipment by product' WHERE CODIGOITEMMENU = 236 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Paros' WHERE CODIGOITEMMENU = 237 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Seguimiento de Envío Mensual' WHERE CODIGOITEMMENU = 238 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Informes' WHERE CODIGOITEMMENU = 239 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Disponibilidad de Líneas Ferroviarias' WHERE CODIGOITEMMENU = 240 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Controlar el Tren' WHERE CODIGOITEMMENU = 241 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Controle dos trens' WHERE CODIGOITEMMENU = 241 AND CODIGOIDIOMA = 'pt' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Cargos por Demora' WHERE CODIGOITEMMENU = 242 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Movimiento de vagones' WHERE CODIGOITEMMENU = 243 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Movimentação de Vagões' WHERE CODIGOITEMMENU = 243 AND CODIGOIDIOMA = 'pt' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Controle de acceso' WHERE CODIGOITEMMENU = 259 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Access Control' WHERE CODIGOITEMMENU = 259 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'zona a visitar' WHERE CODIGOITEMMENU = 260 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'area to be visited' WHERE CODIGOITEMMENU = 260 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'visitor' WHERE CODIGOITEMMENU = 261 AND CODIGOIDIOMA = 'en' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'Programar visitas' WHERE CODIGOITEMMENU = 262 AND CODIGOIDIOMA = 'es' ;

UPDATE IDIOMASMENU SET NOMEITEMMENU = 'ocurrencias' WHERE CODIGOITEMMENU = 264 AND CODIGOIDIOMA = 'es' ;
